* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  height: 100%;
  width: 100%;
  background-color: #000;
  padding: 0 50px;
}

#nav {
  height: 100px;
  width: 100%;
  /* background-color: red; */
  border-bottom: 2px solid #dadada;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-part2 {
  display: flex;
  align-items: center;
  gap: 50px;
}

#page2 {
  height: 100%;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#nav h3,
h4 {
  text-transform: uppercase;
  font-weight: 500;
}

#container {
  height: 80%;
  width: 100%;
  display: flex;
  gap: 10px;
}

#left {
  height: 100%;
  width: 50%;
  padding: 100px 50px;
}

#left h1 {
  font-size: 100px;
  font-weight: 400;
  line-height: 130px;
  text-transform: uppercase;
}

#left h1 span img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: -20px;
  border: 3px solid #dadada;
}

#left h1 img:nth-child(1) {
  margin-left: 0;
}

#left h1 img:nth-child(3) {
  margin-right: 10px;
}

#right {
  height: 100%;
  width: 50%;
  padding: 100px 50px;
  overflow: hidden;
}

#right img {
  height: 100%;
  width: 90%;
  object-fit: cover;
  border-radius: 10px;
}

.box {
  height: 300px;
  width: 400px;
  border: 3px solid #dadada;
  border-radius: 15px;
  text-align: center;
  padding: 30px;
}

.box h1 {
  margin-bottom: 30px;
  font-size: 30px;
  text-transform: uppercase;
}

.box p {
  font-size: 20px;
  font-weight: 600;
  color: #dadada;
}
